<div class="col-md-12 col-lg-12">
  <div class="row">
    <h3>Product Size Type:</h3>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="row p-3">
          <form [formGroup]="productSizeTypeForm" *ngIf="productSizeTypeForm" (ngSubmit)="onSubmitSize()">
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div class="">
                  <label for="productsizetype">Product Size Type :</label>
                  <input type="text" formControlName="productSizeType" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div class="">
                  <label for="remarks">Remarks :</label>
                  <textarea formControlName="remarks" rows="2" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-9 col-lg-6">
                <button type="submit" class="btn btn-success">Save Product Size Type</button>
              </div>
              <div class="col-md-9 col-lg-3">
                <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row mt-2 mb-2"></div>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-sm table-striped table-hover" datatable [dtOptions]="dtOptions"
              *ngIf="sizeDetails">
              <thead class="thead-dark">
                <tr>
                  <th>Sr No.</th>
                  <th>Size Type</th>
                  <th>Added</th>
                  <th>Remarks</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let size of sizeDetails;let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ size.productSizeType }}</td>
                  <td>{{ size.productSizeTypeAdded | date : "medium" }}</td>
                  <td>{{ size.remarks ? size.remarks : "-" }}</td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-transparent btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="onEditSize(size.productSizeTypeId)"><i
                            class="bi bi-pencil-square"></i> Edit </a>
                        <a class="dropdown-item" (click)="onDeleteSize(size.productSizeTypeId)"><i
                            class="bi bi-trash"></i>
                          Delete </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
