<div class="container">
  <div class="row">
    <div class="row m-2">
      <div class="col-md-6 col-lg-3">
        <h3>Log Type :</h3>
        <select class="form-select" (change)="onChange()" id="logType">
          <option selected>All</option>
          <option>IN</option>
          <option>OUT</option>
        </select>
      </div>
      <div class="col-md-6 col-lg-3">
        <h3>Dispatched :</h3>
        <select class="form-select" (change)="onChange()" id="dispatch">
          <option selected>All</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="table-responsive">
        <table class="table table-sm table-striped" datatable [dtOptions]="dtOptions" *ngIf="logs">
          <thead class="thead-dark">
            <tr>
              <th><i class="bi bi-activity"></i></th>
              <th>PRODUCT</th>
              <th>COLOR</th>
              <th>SIZE</th>
              <th>MERCHANT</th>
              <th>PRICE</th>
              <th>QTY.</th>
              <th>GST</th>
              <th>DATE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of logs">
              <td class="text-danger" *ngIf="log['logType'] == 'IN'"><span style="display: none;">i</span><i class="bi bi-box-arrow-in-down-left"></i></td>
              <td class="text-success" *ngIf="log['logType'] != 'IN'"><i class="bi bi-box-arrow-in-up-right"></i></td>
              <td>{{ productObj[productComboObj[log['productComboId']]] }}</td>
              <td>{{ colorObj[productComboObj[log['productComboId']]] }}</td>
              <td>{{ sizeObj[productComboObj[log['productComboId']]] }}</td>
              <td>{{ merchantObj[orderObj[log['orderId']]] }}</td>
              <td>{{ log['productPrice'] }}</td>
              <td>{{ log['productComboQuantity'] }}</td>
              <td>{{ log['productGST'] }}</td>
              <td>{{ log['logTimeStamp'] | date : "medium" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
