<div class="container">
  <div class="row">
    <div class="row m-2">
      <div class="col-md-6 col-lg-3">
        <label for="ordertype" class="form-label">Order Type :</label>
        <select class="form-select" (change)="onChange()">
          <option>All</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col-md-6 col-lg-3">
        <label for="ordertype" class="form-label">Merchant :</label>
        <select class="form-select">
          <option>All</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col-md-6 col-lg-3">
        <label for="ordertype" class="form-label">Product :</label>
        <select class="form-select">
          <option>All</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col-md-6 col-lg-3">
        <label for="ordertype" class="form-label">Dispatched :</label>
        <select class="form-select">
          <option>All</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="alert m-0">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-5">PRODUCT DETAILS</div>
          <div class="col-lg-2">PRICE(₹)</div>
          <div class="col-lg-1">QTY.(Pcs.)</div>
          <div class="col-lg-1">GST(%)</div>
          <div class="col-lg-2">DATE</div>
        </div>
      </div>
      <div class="alert alert-danger" role="alert">
        <div class="row">
          <div class="col-lg-1"><i class="bi bi-box-arrow-in-down-left"></i></div>
          <div class="col-lg-5">PRODUCT DETAILS</div>
          <div class="col-lg-2">PRICE</div>
          <div class="col-lg-1">QTY.</div>
          <div class="col-lg-1">GST</div>
          <div class="col-lg-2">DATE</div>
        </div>
      </div>
      <div class="alert alert-success" role="alert">
        <div class="row">
          <div class="col-lg-1"><i class="bi bi-box-arrow-up-right"></i></div>
          <div class="col-lg-5">PRODUCT DETAILS</div>
          <div class="col-lg-2">PRICE</div>
          <div class="col-lg-1">QTY.</div>
          <div class="col-lg-1">GST</div>
          <div class="col-lg-2">DATE</div>
        </div>
      </div>
      <div class="alert alert-danger" role="alert">
        <div class="row">
          <div class="col-lg-1"><i class="bi bi-box-arrow-in-down-left"></i></div>
          <div class="col-lg-5">PRODUCT DETAILS</div>
          <div class="col-lg-2">PRICE</div>
          <div class="col-lg-1">QTY.</div>
          <div class="col-lg-1">GST</div>
          <div class="col-lg-2">DATE</div>
        </div>
      </div>
      <div class="alert alert-success" role="alert">
        <div class="row">
          <div class="col-lg-1"><i class="bi bi-box-arrow-up-right"></i></div>
          <div class="col-lg-5">PRODUCT DETAILS</div>
          <div class="col-lg-2">PRICE</div>
          <div class="col-lg-1">QTY.</div>
          <div class="col-lg-1">GST</div>
          <div class="col-lg-2">DATE</div>
        </div>
      </div>
      <div class="alert alert-danger" role="alert">
        <div class="row">
          <div class="col-lg-1"><i class="bi bi-box-arrow-in-down-left"></i></div>
          <div class="col-lg-5">PRODUCT DETAILS</div>
          <div class="col-lg-2">PRICE</div>
          <div class="col-lg-1">QTY.</div>
          <div class="col-lg-1">GST</div>
          <div class="col-lg-2">DATE</div>
        </div>
      </div>
      <div class="alert alert-success" role="alert">
        <div class="row">
          <div class="col-lg-1"><i class="bi bi-box-arrow-up-right"></i></div>
          <div class="col-lg-5">PRODUCT DETAILS</div>
          <div class="col-lg-2">PRICE</div>
          <div class="col-lg-1">QTY.</div>
          <div class="col-lg-1">GST</div>
          <div class="col-lg-2">DATE</div>
        </div>
      </div>
      <div class="alert alert-danger" role="alert">
        <div class="row">
          <div class="col-lg-1"><i class="bi bi-box-arrow-in-down-left"></i></div>
          <div class="col-lg-5">PRODUCT DETAILS</div>
          <div class="col-lg-2">PRICE</div>
          <div class="col-lg-1">QTY.</div>
          <div class="col-lg-1">GST</div>
          <div class="col-lg-2">DATE</div>
        </div>
      </div>
      <div class="alert alert-success" role="alert">
        <div class="row">
          <div class="col-lg-1"><i class="bi bi-box-arrow-up-right"></i></div>
          <div class="col-lg-5">PRODUCT DETAILS</div>
          <div class="col-lg-2">PRICE</div>
          <div class="col-lg-1">QTY.</div>
          <div class="col-lg-1">GST</div>
          <div class="col-lg-2">DATE</div>
        </div>
      </div>
    </div>
  </div>
</div>
