<div class="container">
  <div class="row mt-3">
  </div>
  <div class="row">
    <h2><span (click)="onBack()" style="cursor: pointer;"><i class="bi bi-arrow-left mr-3"></i></span> Add Order :
    </h2>
  </div>
  <div class="row mb-1">
  </div>
  <form [formGroup]="orderForm" *ngIf="orderForm" (ngSubmit)="onSaveOrder()">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h4>Details : </h4>
        <div class="row mt-1 mb-1 p-2 pb-2" style="border-bottom: 1.5px solid rgba(0,0,0,0.3); border-radius: 1.5%;">
          <div class="col-md-12 col-lg-3">
            <div>
              <label for="ordertype">Type :</label>
              <select formControlName="orderTypeId" class="form-select" (change)="onChangeOrderType()" id="orderTypeId">
                <option *ngFor="let orderType of orderTypes" [value]="orderType.orderTypeId">{{ orderType.orderType }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div>
              <label for="merchant">Merchant :</label>
              <select formControlName="orderMerchantId" class="form-select">
                <option *ngFor="let merchant of merchants" [value]="merchant.merchantId">{{merchant.merchantName}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-12 col-lg-3">
            <div>
              <label for="date">Date :</label>
              <input type="datetime-local" formControlName="orderDateTime" class="form-control">
            </div>
          </div>
          <div class="col-md-12 col-lg-2">
            <label for="discount">Discount :</label>
            <div class="input-group">
              <input type="number" (blur)="onRefresh()" formControlName="orderDiscount" class="form-control" min="0"
                max="100">
              <span class="input-group-text bg-muted"> %</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-md-12 col-lg-4" style="height: 395px; overflow-y: scroll;">
          <div class="table-responsive">
            <table class="table table-sm table-striped" datatable [dtOptions]="dtOptions" *ngIf="productCombos">
              <thead class="thead-dark">
                <tr>
                  <th></th>
                  <th>Type</th>
                  <th>Desc</th>
                  <th>Color</th>
                  <th>Size</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let productCombo of productCombos;let i = index">
                  <td><input type="checkbox" class="editor-active" (change)="onToggle(productCombo, $event)"></td>
                  <td>{{ productTypeObj[productToTypeObj[productCombo.productId]] }}</td>
                  <td>{{ productObj[productCombo.productId] }}</td>
                  <td>{{ colorObj[productCombo.productColor] }}</td>
                  <td>{{ sizeObj[productCombo.productSize] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-12 col-lg-8" style="height: 395px; overflow-y: scroll;">
          <div class="row mb-3 pb-2">
            <div>
              <h4>Selected Items : </h4>
              <div class="row my-1 pt-2" formArrayName="productInventory"
                *ngIf="this.orderForm.get('productInventory')['controls'].length > 0">
                <div class="row"
                  *ngFor="let productInv of this.orderForm.get('productInventory')['controls']; let i = index;"
                  [formGroupName]="i">
                  <div class="row m-1">
                    <div class="col-md-12 col-lg-4">
                      <div>
                        <div class="input-group">
                          <input type="text" formControlName="productCombo" class="form-control" min="0" max="100">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-2">
                      <div>
                        <div class="input-group">
                          <input type="number" (blur)="onRefresh()" formControlName="productPrice"
                            placeholder="Price(₹)" class="form-control" min="1">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-2">
                      <div>
                        <div class="input-group">
                          <input type="number" (blur)="onRefresh()" formControlName="productGST" placeholder="GST(%)"
                            class="form-control" min="0" max="100">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-3">
                      <div>
                        <div class="input-group">
                          <input type="number" (blur)="onRefresh()" formControlName="productComboQuantity"
                            placeholder="Qty(Pcs)" class="form-control" min="0"
                            [max]="productComboToQtyObj[productInv['controls']['productComboId']['value']]"
                            *ngIf="dispatchRequired">
                          <input type="number" (blur)="onRefresh()" formControlName="productComboQuantity"
                            placeholder="Qty(Pcs)" class="form-control" min="1" *ngIf="!dispatchRequired">
                          <span class="input-group-text bg-muted"
                            *ngIf="dispatchRequired">/{{ productComboToQtyObj[productInv['controls']['productComboId']['value']] }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-1">
                      <div>
                        <div class="input-group">
                          <button class="btn btn-danger" (click)="onRemoveItem(i)">X</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row my-5 pt-5 text-center text-muted"
                *ngIf="this.orderForm.get('productInventory')['controls'].length <= 0">
                <h3>No Items Selected</h3>
                <h6>Select from the left panel.</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-1 pt-2">
        <div class="col-md-12 col-lg-6">
          <div>
            <label for="remarks">Remarks :</label>
            <div class="input-group">
              <textarea formControlName="remarks" class="form-control" rows="1"></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-2">
          <div>
            <label for="quantity">Quantity :</label>
            <div class="input-group">
              <input type="number" formControlName="orderQuantity" class="form-control" id="orderQuantity">
              <span class="input-group-text bg-muted">Pcs.</span>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-2">
          <div>
            <label for="amount">Amount :</label>
            <div class="input-group">
              <span class="input-group-text bg-muted">₹</span>
              <input type="number" formControlName="orderAmount" class="form-control" id="orderAmount">
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-2">
          <div>
            <label for="total">Total :</label>
            <div class="input-group">
              <span class="input-group-text bg-muted">₹</span>
              <input type="number" formControlName="orderTotal" class="form-control" id="orderTotal">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="btn-group">
          <button class="btn btn-success" type="submit">Save Order</button>
        </div>
      </div>
    </div>
  </form>
</div>
