<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="table-responsive">
        <table class="table table-sm table-striped table-hover" datatable [dtOptions]="dtOptions" *ngIf="productsData">
          <thead class="thead-dark">
            <tr>
              <th>Sr No.</th>
              <th>Product Desc</th>
              <th>Product Type</th>
              <th>Product HSN</th>
              <th>Last Purchased</th>
              <th>Last Sold</th>
              <th>Added</th>
              <th>Modified Time</th>
              <th>Remarks</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productsData; let i = index" style="cursor: pointer;">
              <td [routerLink]="product.productId">{{ i + 1 }}</td>
              <td [routerLink]="product.productId">{{ product.productDesc }}</td>
              <td [routerLink]="product.productId">{{ typeObj[product.productType] }}</td>
              <td [routerLink]="product.productId">{{ product.productHSN }}</td>
              <td [routerLink]="product.productId">
                {{ product.lastPurchased ? (product.lastPurchased | date : "medium") : "-" }}</td>
              <td [routerLink]="product.productId">{{ product.lastSold ? (product.lastSold | date : "medium") : "-" }}
              </td>
              <td [routerLink]="product.productId">{{ product.productAdded | date : "medium" }}</td>
              <td [routerLink]="product.productId">{{ product.lastModifiedTime | date : "medium" }}</td>
              <td [routerLink]="product.productId">{{ product.remarks ? product.remarks : "-" }}</td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-transparent btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="updateProduct(product.productId)"><i
                        class="bi bi-pencil-square"></i> Edit </a>
                    <a class="dropdown-item" (click)="onDeleteProduct(product.productId)"><i class="bi bi-trash"></i>
                      Delete </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12 col-lg-6" style="height:525px; overflow-y: scroll;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
