<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="table-responsive">
        <table class="table table-sm table-striped table-hover" datatable [dtOptions]="dtOptions" *ngIf="productsData">
          <thead class="thead-dark">
            <tr>
              <th>Sr No.</th>
              <th>Product Desc</th>
              <th>Product Type</th>
              <th>Product HSN</th>
              <th>Last Purchased</th>
              <th>Last Sold</th>
              <th>Added</th>
              <th>Modified Time</th>
              <th>Remarks</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productsData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ product.productDesc }}</td>
              <td>{{ typeObj[product.productType] }}</td>
              <td>{{ product.productHSN }}</td>
              <td>
                {{ product.lastPurchased ? (product.lastPurchased | date : "medium") : "-" }}</td>
              <td>
                {{ product.lastSold ? (product.lastSold | date : "medium") : "-" }}
              </td>
              <td>{{ product.productAdded | date : "medium" }}</td>
              <td>{{ product.lastModifiedTime | date : "medium" }}
              </td>
              <td>{{ product.remarks ? product.remarks : "-" }}</td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-transparent btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="cursor: pointer;">
                    <a class="dropdown-item" (click)="openDetails(product.productId, content)"><i
                        class="bi bi-book-fill"></i>
                      View Details </a>
                    <a class="dropdown-item" (click)="updateProduct(product.productId)"><i
                        class="bi bi-pencil-square"></i> Edit </a>
                    <a class="dropdown-item" (click)="onDeleteProduct(product.productId)"><i class="bi bi-trash"></i>
                      Delete </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Product</h4>
    <button type="button" class="btn-close bg-white" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <p style="font-weight: bold;">Desc : {{productDetails.productDesc}}</p>
          <p style="font-weight: bold;">Type : {{ typeObj[productDetails.productType] }}</p>
          <p style="font-weight: bold;">HSN : {{productDetails.productHSN}}</p>
          <p style="font-weight: bold;">Remarks : {{productDetails.remarks}}</p>
        </div>
        <div class="col-md-12 col-lg-6">
          <p style="font-weight: bold;">Added : {{productDetails.productAdded | date : "medium" }}</p>
          <p style="font-weight: bold;">Last Modified : {{productDetails.lastModifiedTime | date : "medium" }}</p>
          <p style="font-weight: bold;">Last Purchased :
            {{ productDetails.lastPurchased ? (productDetails.lastPurchased | date : "medium") : "-" }}</p>
          <p style="font-weight: bold;">Last Sold :
            {{ productDetails.lastSold ? (productDetails.lastSold | date : "medium") : "-" }}</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-12">
        <hr>
        <p style="font-weight: bold;">Varieties : </p>
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="table-responsive">
              <table class="table table-sm table-striped table-hover overflow-auto" datatable [dtOptions]="dtOptions"
                *ngIf="productsData">
                <thead class="thead-dark">
                  <tr>
                    <th>Sr No.</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Quantity</th>
                    <th>Dead Count</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let combo of productCombos;let i = index" style="cursor: pointer;">
                    <td>{{ i + 1 }}</td>
                    <td>{{ sizesObj[combo.productSize] }}</td>
                    <td>{{ colorObj[combo.productColor] }}</td>
                    <td>{{ combo.productQuantity }}</td>
                    <td>
                      <div class="row">
                        <div class="col-md-12 col-lg-6">
                          <div class="input-group">
                            <span class="input-group-text bg-muted">{{ combo.deadCount }} + </span>
                            <input type="number" class="form-control" [min]="0" [max]="combo.productQuantity"
                              [id]="'dCount'+combo.productComboId">
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                          <button class="btn btn-sm dark"
                            (click)="onSaveDeadCount(combo.productComboId, combo.productQuantity)"><i
                              class="bi bi-check"></i></button>
                        </div>
                      </div>
                    </td>
                    <td>{{ combo.remarks }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
