<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="table-responsive">
        <table class="table table-sm table-striped table-hover" datatable [dtOptions]="dtOptions" *ngIf="merchants">
          <thead class="thead-dark">
            <tr>
              <th>Sr No.</th>
              <th>Name</th>
              <th>GST</th>
              <th>Last Traded</th>
              <th>Added</th>
              <th>Remarks</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let merchant of merchants;let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ merchant.merchantName }}</td>
              <td>
                {{ merchant.merchantGST ? merchant.merchantGST : "-" }}</td>
              <td>
                {{ merchant.lastTraded ? (merchant.lastTraded | date : "medium") : "-" }}</td>
              <td>{{ merchant.merchantAdded | date : "medium" }}
              </td>
              <td>{{ merchant.remarks ? merchant.remarks : "-" }}
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-transparent btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="cursor: pointer;">
                    <a class="dropdown-item" (click)="openDetails(merchant.merchantId, content)"><i
                        class="bi bi-book-fill"></i>
                      View Details </a>
                    <a class="dropdown-item" (click)="editMerchant(merchant.merchantId)"><i
                        class="bi bi-pencil-square"></i> Edit </a>
                    <a class="dropdown-item" (click)="onDeleteMerchant(merchant.merchantId)"><i class="bi bi-trash"></i>
                      Delete </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Merchant</h4>
    <button type="button" class="btn-close bg-white" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <p style="font-weight: bold;">Name : {{ merchantDetails.merchantName }}</p>
          <p style="font-weight: bold;">GST : {{ merchantDetails.merchantGST }}</p>
          <p style="font-weight: bold;">Last Traded :
            {{ merchantDetails.lastTraded ? (merchantDetails.lastTraded | date : "medium"): "-" }}</p>
        </div>
        <div class="col-md-12 col-lg-6">
          <p style="font-weight: bold;">Added : {{ merchantDetails.merchantAdded | date : "medium" }}</p>
          <p style="font-weight: bold;">Last Modified : {{ merchantDetails.lastModifiedTime | date : "medium" }}</p>
          <p style="font-weight: bold;">Remarks : {{ merchantDetails.remarks }}</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-12">
        <hr>
        <p style="font-weight: bold;">Contacts : </p>
        <div class="row p-3">
          <div *ngFor="let contact of merchantDetails.theContacts" class="col-md-12 col-lg-6 p-3">
            <div class="card border bg-transparent">
              <div class="card-body">
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Type : {{ contact.contactType }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">No. : {{ contact.contactNo }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Added :
                  {{ contact.contactAdded | date : "medium"  }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Last Modified :
                  {{ contact.lastModifiedTime | date : "medium"  }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Remarks : {{ contact.remarks }}</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <p style="font-weight: bold;">Emails : </p>
        <div class="row p-3">
          <div *ngFor="let email of merchantDetails.theEmails" class="col-md-12 col-lg-6 p-3">
            <div class="card border bg-transparent">
              <div class="card-body">
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Type : {{ email.emailType }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Email. : {{ email.email }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Added :
                  {{ email.emailAdded | date : "medium"  }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Last Modified :
                  {{ email.lastModifiedTime | date : "medium"  }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Remarks : {{ email.remarks }}</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <p style="font-weight: bold;">Address : </p>
        <div class="row p-3">
          <div *ngFor="let address of merchantDetails.theAddress; let i = index" class="col-md-12 col-lg-6 p-3">
            <div class="card border bg-transparent">
              <div class="card-body">
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Address Line 1 :
                  {{ address.addressLine1 }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Address Line 2 :
                  {{ address.addressLine2 }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">City :
                  {{  citiesObj[address.addressCity] }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">State :
                  {{  statesObj[address.addressState] }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Pincode : {{ address.addressPincode }}
                </p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Added :
                  {{ address.addressAdded | date : "medium"  }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Last Modified :
                  {{ address.lastModifiedTime | date : "medium"  }}</p>
                <p class="card-text" style="font-weight: bold; font-size: 12px;">Remarks : {{ address.remarks }}</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</ng-template>
