<body>
  <div class="container">
    <div class="row login-box">
      <div class="col-lg-8">
        <div class="row mx-5 text logo-text dark-font">
          <div class="row">INVENTORY</div>
          <div class="row">MANAGEMENT</div>
          <div class="row">SYSTEM</div>
        </div>
      </div>
      <div class="col login-cont">
        <div class="row">
          <div class="row">
            <p class="logo-text dark-font">
              <span><img src=".././assets/logo.png" width="68"></span> iMS
            </p>
          </div>
          <div class="row">
            <p class="dark-font" style="font-size: 24px; font-weight: 700;">
              Log in to your Account
            </p>
            <p class="m-0 dark-font" style="font-weight: 100;">
              Please enter your details
            </p>
          </div>
          <div class="row">
            <div class="form">
              <form [formGroup]="loginForm" *ngIf="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label class="form-label dark-font" for="username">Username</label>
                  <input type="text" class="form-control dark-font" formControlName="username" placeholder="Username">
                  <div class="form-text">We'll never share your info with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label class="form-label dark-font" for="password">Password</label>
                  <input type="password" class="form-control dark-font" formControlName="password"
                    placeholder="Password">
                </div>
                <div class="mb-3 text-center">
                  <a (click)="onForgotPassword()" style="text-decoration: none;">Forgot Password?</a>
                </div>
                <div class="mb-3 d-grid">
                  <input type="submit" class="btn dark-bg" value="Sign in" name="login">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
