.logo-text {
  font-size: 48px;
  color: #0ACF83;
}

.text {
  font-size: 2.5rem;
  margin-top: 100px;
}

.login-cont {
  margin-left: 20px;
  text-align: center;
}

.form {
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
  padding: 8px;
}

@media only screen and (min-width: 768px) {
  .login-box {
    margin-top: 200px;
  }

  .text {
    font-size: 3.5rem;
    margin-top: 100px;
  }

  .container {
    margin-top: -100px;
  }
}
