<div class="container">
  <div class="row mt-3">
  </div>
  <div class="row">
    <h2><span (click)="onBack()" style="cursor: pointer;"><i class="bi bi-arrow-left mr-3"></i></span> Edit Merchant : </h2>
  </div>
  <div class="row mb-3">
  </div>
  <div class="row">
    <form *ngIf="merchantForm" [formGroup]="merchantForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3 pb-2" style="border-bottom: 1.5px solid rgba(0,0,0,0.3); border-radius: 0.5%;">
        <h4>Details : </h4>
        <div class="col-md-12 col-lg-5">
          <div>
            <label for="merchantname">Name :</label>
            <input type="text" formControlName="merchantName" class="form-control">
          </div>
        </div>
        <div class="col-md-12 col-lg-3">
          <div>
            <label for="merchantgst">GST :</label>
            <input type="text" formControlName="merchantGST" class="form-control">
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div>
            <label for="remarks">Remarks :</label>
            <input type="text" formControlName="remarks" class="form-control">
          </div>
        </div>
      </div>
      <div class="row m-4">
        <button type="submit" class="btn btn-success">Update Merchant Details</button>
      </div>
    </form>
  </div>
</div>
