/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 187, 255, 0.2), rgba(167, 255, 165, 0.2));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

@import "~bootstrap-icons/font/bootstrap-icons.css";
