body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #EAFAEA;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.navbar,
.modal-header,
.dark {
  background-color: #2C3743;
  color: #EAFAEA;
}

.modal-body {
  background-color: azure;
}

.card-body {
  background-color: transparent;
}

.dark-bg {
  background-color: #2C3743;
  color: #EAFAEA;
}

.card-body {
  background-color: #ffffff;
  color: #2C3743;
}

.dark-font {
  color: #2C3743;
}

::-webkit-scrollbar {
  display: none;
}

@import "~bootstrap-icons/font/bootstrap-icons.css";
