<div class="container">
  <div class="row mb-2"></div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        <div class="col-md-12 col-lg-3">
          <div routerLink="productType" class="card mb-3" routerLinkActive="dark-bg" style="cursor: pointer;">
            <div class="row g-0">
              <div class="col-md-12">
                <div class="card-body" routerLinkActive="dark-bg">
                  <h5 class="card-title">Product Types</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-3">
          <div routerLink="productColor" class="card mb-3" routerLinkActive="dark-bg" style="cursor: pointer;">
            <div class="row g-0">
              <div class="col-md-12">
                <div class="card-body" routerLinkActive="dark-bg">
                  <h5 class="card-title">Product Colors</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-3">
          <div routerLink="productSizeType" class="card mb-3" routerLinkActive="dark-bg" style="cursor: pointer;">
            <div class="row g-0">
              <div class="col-md-12">
                <div class="card-body" routerLinkActive="dark-bg">
                  <h5 class="card-title">Product Size Types</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-3">
          <div routerLink="productSize" class="card mb-3" routerLinkActive="dark-bg" style="cursor: pointer;">
            <div class="row g-0">
              <div class="col-md-12">
                <div class="card-body" routerLinkActive="dark-bg">
                  <h5 class="card-title">Product Sizes</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
